@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 300;
	src: url("./fonts/montserrat-v12-latin-ext_latin_cyrillic-ext_cyrillic-300.eot");
	src: local("Montserrat Light"), local("Montserrat-Light"),
		url("./fonts/montserrat-v12-latin-ext_latin_cyrillic-ext_cyrillic-300.eot?#iefix")
			format("embedded-opentype"),
		url("./fonts/montserrat-v12-latin-ext_latin_cyrillic-ext_cyrillic-300.woff2")
			format("woff2"),
		url("./fonts/montserrat-v12-latin-ext_latin_cyrillic-ext_cyrillic-300.woff") format("woff"),
		url("./fonts/montserrat-v12-latin-ext_latin_cyrillic-ext_cyrillic-300.ttf")
			format("truetype"),
		url("./fonts/montserrat-v12-latin-ext_latin_cyrillic-ext_cyrillic-300.svg#Montserrat")
			format("svg");
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/montserrat-v12-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot");
	src: local("Montserrat Regular"), local("Montserrat-Regular"),
		url("./fonts/montserrat-v12-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix")
			format("embedded-opentype"),
		url("./fonts/montserrat-v12-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2")
			format("woff2"),
		url("./fonts/montserrat-v12-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff")
			format("woff"),
		url("./fonts/montserrat-v12-latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf")
			format("truetype"),
		url("./fonts/montserrat-v12-latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#Montserrat")
			format("svg");
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	src: url("./fonts/montserrat-v12-latin-ext_latin_cyrillic-ext_cyrillic-600.eot");
	src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
		url("./fonts/montserrat-v12-latin-ext_latin_cyrillic-ext_cyrillic-600.eot?#iefix")
			format("embedded-opentype"),
		url("./fonts/montserrat-v12-latin-ext_latin_cyrillic-ext_cyrillic-600.woff2")
			format("woff2"),
		url("./fonts/montserrat-v12-latin-ext_latin_cyrillic-ext_cyrillic-600.woff") format("woff"),
		url("./fonts/montserrat-v12-latin-ext_latin_cyrillic-ext_cyrillic-600.ttf")
			format("truetype"),
		url("./fonts/montserrat-v12-latin-ext_latin_cyrillic-ext_cyrillic-600.svg#Montserrat")
			format("svg");
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 800;
	src: url("../../fonts/montserrat-v12-latin-ext_latin_cyrillic-ext_cyrillic-800.eot");
	src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
		url("../../fonts/montserrat-v12-latin-ext_latin_cyrillic-ext_cyrillic-800.eot?#iefix")
			format("embedded-opentype"),
		url("../../fonts/montserrat-v12-latin-ext_latin_cyrillic-ext_cyrillic-800.woff2")
			format("woff2"),
		url("../../fonts/montserrat-v12-latin-ext_latin_cyrillic-ext_cyrillic-800.woff")
			format("woff"),
		url("../../fonts/montserrat-v12-latin-ext_latin_cyrillic-ext_cyrillic-800.ttf")
			format("truetype"),
		url("../../fonts/montserrat-v12-latin-ext_latin_cyrillic-ext_cyrillic-800.svg#Montserrat")
			format("svg");
}
header {
	background: #375e97;
	color: white;
	text-align: center;
	letter-spacing: 0.9px;
	min-height: 90px;
}
header h1 {
	font-size: 40px;
}
header .ui-price-message {
	float: right;
	font-size: 10px;
}
.ui-float__right {
	float: right;
}
.ui-float__left {
	float: right;
}
.ui-float__none {
	float: right;
}
.ui-text-align__center {
	text-align: center;
}
.ui-text-align__right {
	text-align: right;
}
.ui-text-align__left {
	text-align: left;
}
.ui-font-size__27px {
	font-size: 27px;
}
p.clear {
	clear: both;
	margin: 0;
}
body {
	font-family: "Montserrat";
	font-size: 14px;
	color: #000000;
}
body,
body * {
	box-sizing: border-box;
	margin: 0;
	font-weight: 400;
	text-shadow: none;
}
h3 {
	font-size: 20px;
}
main {
	-webkit-box-shadow: 1px 3px 10px -1px rgba(0, 0, 0, 0.61);
	-moz-box-shadow: 1px 3px 10px -1px rgba(0, 0, 0, 0.61);
	box-shadow: 1px 3px 10px -1px rgba(0, 0, 0, 0.61);
	height: -moz-calc(100vh - 90px);
	height: -webkit-calc(100vh - 90px);
	height: calc(100vh - 90px);
}
footer {
	padding: 10px;
	text-align: center;
	background-color: #fb0;
}
.ui-content,
main {
	max-width: 1000px;
	margin: 0 auto;
	height: 100%;
}
.ui-warning-panel {
	background-color: #fb0;
	padding: 10px;
	min-height: 60px;
}
.ui-main-box {
	width: 70%;
	height: 100%;
	float: left;
}
.ui-main-box table {
	border-collapse: collapse;
	margin: 10px;
}
.ui-main-box table td {
	border-bottom: 1px solid #333;
	padding: 10px;
	font-size: 16px;
	line-height: 22px;
	word-break: break-word;
}
.ui-main-box table td div.ui-contant-label {
	float: left;
	margin-right: 10px;
	border: 1px solid #bdbdbd;
	padding: 2px 5px;
	border-radius: 6px;
}
.ui-main-box table td div.ui-contant-label:first-child {
	background-color: #fb0;
	border-color: #fb0;
	font-weight: 600;
	color: white;
}
.ui-main-box table td div.ui-contant-label.status {
	float: right;
	border: 0;
	margin-right: 0;
}
.ui-main-box table td div:last-child {
	margin-top: 10px;
}
.ui-main-box table tr:last-child td {
	border-bottom: 0;
}
.ui-side-box {
	float: right;
	width: 30%;
	height: -moz-calc(100% - 60px);
	height: -webkit-calc(100% - 60px);
	height: calc(100% - 60px);
	background-color: #375e97;
	color: white;
	padding: 10px;
}
@media screen and (max-width: 1000px) {
	.ui-main-box {
		width: 100%;
		height: auto;
	}
	.ui-main-box table td {
		font-size: 16px;
		line-height: 18px;
		padding: 10px 0;
	}
	.ui-main-box table td .ui-contant-label {
		font-size: 12px;
	}
	.ui-side-box {
		width: 100%;
		height: auto;
	}
	.ui-warning-panel {
		width: 100%;
		height: auto;
	}
	main {
		height: auto;
	}
	header {
		width: 100%;
		height: auto;
		position: unset;
		top: unset;
	}
	header .ui-float__right {
		float: none;
	}
	header .ui-price-message {
		float: none;
	}
	header .ui-main-label {
		font-size: 20px;
		margin-bottom: 5px;
	}
	h3 {
		font-size: 12px;
	}
}
