header {
	background: $blue;
	color: white;
	text-align: center;

	
	letter-spacing: 0.9px;

	min-height: 90px;

	// position: fixed;
	// position: sticky;

	// top: 0;

	h1 {
		font-size: 40px;
	}

	.ui-price-message {
		float: right;
		font-size: 10px;
	}

}