.ui-float {
	&__right {
		float: right;
	}
	&__left {
		float: right;
	}
	&__none {
		float: right;
	}
}

.ui-text-align {
	&__center {
		text-align: center;
	}
	&__right {
		text-align: right;
	}
	&__left {
		text-align: left;
	}
}

.ui-font-size {
	&__27px {
		font-size: 27px;
	}
}

p.clear {
	clear: both;
	margin: 0;
}

