@media screen and (max-width: 1000px) {
	.ui-main-box {
		width: 100%;
		height: auto;

		table {
			td {
				font-size: 16px;
				line-height: 18px;
				padding: 10px 0;

				.ui-contant-label {
					font-size: 12px;
				}
			}
		}
	}

	.ui-side-box {
		width: 100%;
		height: auto;
	}

	.ui-warning-panel {
		width: 100%;
		height: auto;
	}

	main {
		height: auto;
	}

	header {
		width: 100%;
		height: auto;

		position: unset;
		top: unset;

		.ui-float__right {
			float: none;
		}
		.ui-price-message {
			float: none;
		}

		.ui-main-label {
			font-size: 20px;
			margin-bottom: 5px;
		}
	}

	h3 {
		font-size: 12px;
	}
}